.new-product {
    width: 80%;
    max-width: 80em !important;
}

.new-product img {
    width: 300px;
    height: 300px;
    border: 1px solid var(--medium-gray);
    padding: 1em;
    border-radius: 12px;
}

.mini-images {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.mini-images img {
    width: 100px;
    height: 100px;
    padding: 4px;
}
