.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
}

.carousel .top-part {
    display: flex;
    align-items: center;
    gap: 4em;
}

.carousel product-card {
    transition: transform 1s;
}

.carousel button {
    font-size: var(--fz-big);
    border: none;
    background-color: transparent;
    z-index: 1;
    color: var(--black);
}

.carousel-items {
    display: flex;
    gap: 4em;

    max-width: calc(600px + 8em);
    margin: auto;
    
    overflow-x: hidden;
}

.dots {
    display: flex;
    gap: 0.5em;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid var(--black)
}

.dot[active] {
    background-color: var(--black);
}

@media (max-width: 950px) {
    .carousel-items {
        max-width: calc(400px + 4em);
    }
}

@media (max-width: 700px) {
    .carousel-items {
        max-width: calc(200px + 2em);
    }
}

@media (max-width: 450px) {
    .carousel .top-part {
        gap: 2em;
    }
}

@media (max-width: 375px) {
    .carousel .top-part {
        gap: 1em;
    }
}