.top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button[active] {
    font-weight: bolder;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1em;
}

.show button + button::before {
    content: "/";
}

.table-buttons {
    display: flex;
    align-items: baseline;
    gap: 1em;
}

.tune {
    display: flex;
    align-items: center;
    gap: 1em;
}

.filters {
    display: none;

    grid-template-columns: repeat(2, 1fr);

    margin-bottom: 2em;
    padding: 1em 0;

    border-bottom: 1px solid var(--dark-gray);
    border-top: 1px solid var(--dark-gray);
}

.filters[open] {
    display: grid;
}

.filters h3 {
    text-transform: uppercase;
    color: var(--dark-gray);
}

.filters button {
    color: var(--dark-gray);
}

.filters button[active] {
    color: var(--black);
}

:is(.sort-by, .filter-by-price) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.select-filters-container {
    display: none;

    align-items: center;
    gap: 1em;

    margin-bottom: 2em;
}

.select-filters-container[open] {
    display: flex;
}

.select-filters-container * {
    font-size: var(--fz-small);
}

.clear-filters {
    border: 1px solid var(--dark-gray);
    border-radius: 8px;
    
    padding: 0.25em 1em;
}

.select-filters {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.select-filter + .select-filter::before {
    content: "/";
    margin-right: 0.5em;
}

.products-catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4em;
    justify-content: center;
}

.products-catalog[no-products] {
    grid-template-columns: 1fr;
}

@media (max-width: 1100px) {
    .table-buttons button:nth-child(1), .table-buttons button:nth-child(2) {
        display: none;
    }

    .products-catalog {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 850px) {
    .products-catalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .top-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .buttons {
        margin-bottom: 3em;
    }

    .products-catalog {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    .filters {
        grid-template-columns: 1fr;
        gap: 3em;
    }
}