.form form {
    display: flex;
    flex-direction: column;
    gap: 2em;

    max-width: 40em;
    margin-top: 2em;
    padding: 3em;

    border: 1px solid var(--medium-gray);
    border-radius: 16px;
    background-color: var(--white);

    box-shadow: 2px 2px 4px var(--light-gray);
    
    overflow: hidden;
}

.form .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form input, textarea {
    width: 500px;
    padding: 0.5em 1em;

    border: 1px solid var(--medium-gray);
    border-radius: 100px;

    outline: none;
}

.form textarea {
    border-radius: 16px;
    resize: vertical;
}

.form input[type="submit"] {
    align-self: flex-end;

    width: max-content;
    padding: 0.5em 1;

    background-color: var(--light-purple);
    color: var(--white);
}

.bottom-part {
    display: flex;
    align-items: center;
    gap: 3em;
}

.bottom-part a {
    padding: 0.5em 3em;

    border: 2px solid var(--light-purple);
    border-radius: 100px;
    
    color: var(--black);
}

@media (max-width: 1150px) {
    .form input, textarea {
        max-width: 100%;
    }
}

@media (max-width: 1100px) {
    .form img {
        display: none;
    }
}

@media (max-width: 500px) {
    .form form {
        padding: 1em;
    }
}
