html {
    background-color: var(--light-coral);
}

form {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 2em;

    max-width: 40em;
    margin: auto;
    margin-top: 5em;
    padding: 3em;

    border-radius: 16px;

    background-color: var(--white);

    overflow: hidden;
}

form h1 {
    margin-bottom: 2em;
    
    font-size: var(--fz-big);
    text-align: center;
    font-weight: bolder;
}

form input {
    width: 500px;
    padding: 0.5em 1em;

    border-radius: 100px;
    border: 1px solid var(--medium-gray);

    outline: none;
}

form input[type="submit"] {
    width: max-content;
    padding: 0.5em 5em;

    background-color: var(--light-purple);
    color: var(--white);
}

.bottom-part {
    display: flex;
    align-items: center;
    gap: 3em;
}

.bottom-part a {
    padding: 0.5em 3em;
    border: 2px solid var(--light-purple);
    border-radius: 100px;
    color: var(--black);
}

form * {
    z-index: 1;
}

form img {
    position: absolute;
    bottom: 1em;
    right: -1em;
    z-index: 0;
    border: none;
    outline: none;
}