.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-coral);
    z-index: 100;
}

.loading span {
    font-size: var(--fz-larger);
}

.loading img {
    width: 75px;
}