*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    box-sizing: border-box;
}

/* Цвета */
@property --white {
    syntax: "<color>";
    inherits: true;
    initial-value: #FFFFFF;
}

@property --medium-black {
    syntax: "<color>";
    inherits: true;
    initial-value: #232323;
}

@property --black {
    syntax: "<color>";
    inherits: true;
    initial-value: #000000;
}

@property --dark-gray {
    syntax: "<color>";
    inherits: true;
    initial-value: #4d4d4d;
}

@property --medium-gray {
    syntax: "<color>";
    inherits: true;
    initial-value: #727272;
}

@property --light-gray {
    syntax: "<color>";
    inherits: true;
    initial-value: #C2C2C2;
}

@property --light-purple {
    syntax: "<color>";
    inherits: true;
    initial-value: #A264C6;
}

@property --dark-purple {
    syntax: "<color>";
    inherits: true;
    initial-value: #6A2A8F;
}

@property --light-coral {
    syntax: "<color>";
    inherits: true;
    initial-value: #FFDADA;
}

@property --green {
    syntax: "<color>";
    inherits: true;
    initial-value: #8C998D;
}

@property --dark-green {
    syntax: "<color>";
    inherits: true;
    initial-value: #243633;
}

@property --blue {
    syntax: "<color>";
    inherits: true;
    initial-value: #4F82DA;
}

/* Размеры шрифтов */
@property --fz-tiny {
    syntax: "<length>";
    inherits: true;
    initial-value: 12px;
}

@property --fz-small {
    syntax: "<length>";
    inherits: true;
    initial-value: 14px;
}

@property --fz-medium {
    syntax: "<length>";
    inherits: true;
    initial-value: 16px;
}

@property --fz-larger {
    syntax: "<length>";
    inherits: true;
    initial-value: 20px;
}

@property --fz-big {
    syntax: "<length>";
    inherits: true;
    initial-value: 24px;
}

/* Основные элементы */
.container {
    width: 90%;
    max-width: 100em;
    margin: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5em;
}

a {
    text-decoration: none;
}

nav a {
    color: var(--white);
}

h1 {
    font-size: 24px;
    margin: 2em 0;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin: 1em 0;
}

/* Установка цветов и шрифтов */
:root {
    --white: #FFFFFF;

    --medium-black: #232323;
    --black: #000000;

    --light-gray: #C2C2C2;
    --medium-gray: #727272;
    --dark-gray: #4d4d4d;

    --light-purple: #A264C6;
    --dark-purple: #6A2A8F;

    --light-coral: #FFDADA;

    --green: #8C998D;
    --dark-green: #243633;

    --blue: #4F82DA;
    

    --fz-tiny: 12px;
    --fz-small: 14px;
    --fz-medium: 16px;
    --fz-larger: 20px;
    --fz-big: 24px;
}

@media (max-width: 600px) {
    *,
    *::after,
    *::before {
        font-size: 14px;
    }
}